@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#FDC5F5,#F7AEF8);
}
main{
    border-radius: 10px;
    background-color: whitesmoke;
    width: 600px;
    box-shadow: 5px 5px 15px #53374771;
    padding: 10px;
    margin: auto;
}
h1{
    color: #533747;
    text-align: center;
    text-shadow: 1px 1px 2px #5337476c;
}
h2{
    color: #B388EB;
} 

p{
    text-align: justify;
}